@using MIKO.Models.PostsModels
@model PostModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="post.css" rel="stylesheet" type="text/css">
    <title>Profile - MIKO</title>
    <link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />
</head>
<body>
    <div class="bodyPost">
        <div class="homePlate">
            <div class="postBody">
                <p class="homePostTitle">@Model.Title</p>
                <p class="homePostAuthor" style="font-size:16px; color:gray; margin-top:-10px;">@Model.Id.ToString("0000")</p>
                <p class="homePostAuthor" style="cursor:pointer;" onclick="location.href='/Forum/Profile/@Model.AuthorId'">@Model.AuthorLogin</p>
                <p class="homePostText">@Model.Text</p>
            </div>
        </div>
    </div>
</body>
</html>