@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: auto;
    scrollbar-width: thin;
    color-scheme: dark light;
}

body {
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
    height: 100%;
}

.bodyPost {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postBody {
    margin: auto;
    background-color: #17161A;
    border-radius: 15px;
    width: 1000px;
    padding: 25px;
    margin-top: 25px;
}

.homePlate {
    min-height: 965px;
    width: 1095px;
    background-color: rgba(43, 39, 52, 0.5);
    text-align: center;
}

.homeTitle {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 62.5px;
    margin-top: 75px;
}

.disc {
    color: rgb(170, 170, 170);
    margin: auto;
    margin-top: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    width: 700px;
}

.item {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    margin-top: 75px;
}

.homePlateElement {
    width: 960px;
    height: 90px;
    border-radius: 15px;
    background-color: #17161A;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

    .homePlateElement:hover {
        border-radius: 10px;
        background-color: #0f0e11;
    }

.homePlateElementTitle {
    color: white;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}

.homePlateElementText {
    color: #B3B3B3;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
}

.homePostTitle {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
}

.homePostText {
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(218, 218, 218);
    font-size: 14px;
    margin-top: 25px;
    width: 950px;

}

.homePostAuthor {
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(201, 201, 201);
    font-size: 13px;
}
